<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.udc.fic.sgsi_magerit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEditProject.AddProjectActivity" />
        <activity android:name=".AddEditAsset.AddEditAssetActivity" />
        <activity
            android:name=".AddEditThreat.AddEditThreatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".AddEditAssetThreats.AddEditAssetThreatsActivity" />
        <activity android:name=".AddEditSafeguards.AddEditSafeguardActivity"/>
    </application>

</manifest>